body {
    font-family: "Times New Roman", Times, serif;
    font-size: 0.5cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    margin-right: 9cm;
    margin-left: 3cm;
}

table.qrs {
    table-layout: auto;
    width: 100%;
    padding: 0cm 0cm 0cm 0cm;
    /*background: #00FFFF;*/
    border-collapse: separate;
    border-spacing: 0cm 0cm;
}

th, td {
    /*border: 1px solid black;*/
   }

tr {
    padding: 0cm 0cm 0cm 0cm;
    height: 1.9cm;
}

.data div {
    /* Rotated data */
    font-size: 60%;
    text-align: center;
    white-space: nowrap;
    transform: rotate(90deg);
}

td img.qr {
    display: block;
    height: 1.7cm;  
    width: auto;
}

td.logo img {
    padding: 0% 20%;
    display: block;
    height: 1.0cm;  
    width: auto;
}

td.title {
    white-space: pre;
    text-align: center;
    width: 60%;
}

@page {
    size: 25cm 19cm;
    margin: 0cm;
}
