<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="css/style-sheet.css">
        <title>Plantilla Manillas</title>
    </head>
    <body>
        <table class="qrs">
            {% for manilla in manillas %}
            <tr>
                <td class="data"><div>{{manilla["data"]}}</div></td>
                <td class="qr"><img class="qr"src="output/qrs/{{manilla.data}}.png"
                    class="qr" /></td>
                <td class="logo"><img src="assets/idmji.png"></td>
                <td class="title">Inauguración<br><b>{{eb}}</b></td>
                <td class="data"><div>{{manilla["data"]}}</div></td>
                <td class="qr"><img class="qr"src="output/qrs/{{manilla.data}}.png"
                    class="qr" /></td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
